body{
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(to top, #5c1582, #ffffff);
    background-repeat: no-repeat;
}
img {height: 20vh;}

.main_div {
    margin: 30%;
    width: 80%;
    height: 500px;
    background-color: #fff;
    border-radius: 20px;
}
.inner_div {
    margin: 20px;
    width: ;
}

h2 {margin: 25px;}